body {
  font-family: 'Sora', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f6f6f6;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  line-height: 50.4px;
  color: #000000;
}

p {
  font-size: 19px;
  font-weight: 400;
  line-height: 23.94px;
  color: rgba(0, 0, 0, 0.5);
}
